
<div class="wrapper">
  <div id="theword" class="row fill-all-form">
    <div class="col-md-8 col-md-offset-2 col-xs-12 byenote-title">
      <h2 class="">再見手札</h2>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 form-page tag-box-v2 byenote-form-page">
      <%= form_for(@byenote) do |f| %>
        <%= render :partial => "welcome/organ_form", :locals => {:f => f } %>
        <%= render :partial => "welcome/hospice_form", :locals => {:f => f } %>
        <%= render :partial => "welcome/funeral_form", :locals => {:f => f } %>
        <div class="row">
          <div class="heading"><h3 style="text-align:center;"><legend>給親友的話</legend></h3></div>
          <%= f.text_area :some_message, rows: 4, :class => "message_textarea", :placeholder => "與親朋好友們道謝、道歉、道愛、道別" %>
        </div>
        <div class="margin-bottom-20"></div>
        <div class="row">
          <div class="col-xs-12">
              <button type="submit" class="btn btn-u" style="width:100%;padding:10px;">儲存我的再見手札</button>
          </div>
        </div>
      <% end %>
    </div>
    <script>
    if(document.getElementById('byenote_donate_select_partial').checked){
      $("#organ_checkbox_form").show();
    }
    else{
      $("#organ_checkbox_form").hide();
    }
    </script>
  </div>
</div>