
<div class="wrapper">
  <%= render :partial => "welcome/header", :locals => { } %>

  <div id="theword" class="row fill-all-form">
    <div class="col-md-8 col-md-offset-2 col-xs-12 form-page tag-box-v2">
      <%= form_for(@byenote) do |f| %>
        <%= render :partial => "welcome/organ_form", :locals => {:f => f } %>
        <%= render :partial => "welcome/hospice_form", :locals => {:f => f } %>
        <%= render :partial => "welcome/funeral_form", :locals => {:f => f } %>
        <div class="row">
          <div class="heading heading-v4"><h2 style="text-align:center;">給親友的話</h2></div>
          <!-- <textarea rows="4" style="width:80%;margin:0px auto;" name="message" id="message" class="form-control" placeholder="與親朋好友們道謝、道歉、道愛、道別"></textarea> -->
          <%= f.text_area :some_message, rows: 4, :placeholder => "與親朋好友們道謝、道歉、道愛、道別" %>
        </div>
        <div class="margin-bottom-20"></div>
        <div class="row">
          <div class="col-xs-12">
              <button type="submit" class="btn btn-u" style="width:100%;padding:10px;">儲存我的再見手札</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
