<div class="row">
  <div class="heading heading-v4"><h2 style="text-align:center;">器捐意願</h2></div>
  <div style="padding:0px 20px;">
    <div class="col-md-4 col-xs-12">
        <label class="radio content-boxes-v1 radio-v1">
        <%= f.radio_button :donate_select, "all", :onclick => "organSelectAll();" %><i class="rounded-x"></i>捐贈全部器官
        </label>
    </div>
    <div class="col-md-4 col-xs-12">
        <label class="radio content-boxes-v1 radio-v1"><%= f.radio_button :donate_select, "partial", :onclick => "organSelectPartial();" %><i class="rounded-x"></i>捐贈部份器官</label>
    </div>
    <div class="col-md-4 col-xs-12">
        <label class="radio content-boxes-v1 radio-v1"><%= f.radio_button :donate_select, "no", :onclick => "organSelectAll();" %><i class="rounded-x"></i>不要捐贈器官</label>
    </div>
    <div id="organ_checkbox_form" style="display:none;">
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_heart, {}, 1, 0 %>心臟</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_lung, {}, 1, 0 %>肺臟</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_liver, {}, 1, 0 %>肝臟</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_pancreas, {}, 1, 0 %>胰臟</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_kidney, {}, 1, 0 %>腎臟</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_smll_intestine, {}, 1, 0 %>小腸</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_cornea, {}, 1, 0 %>眼角膜</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_skin, {}, 1, 0 %>皮膚</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_skeleton, {}, 1, 0 %>骨骼</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_heart_valve, {}, 1, 0 %>心瓣膜</label></div>
      <div class="col-md-2 col-xs-3"><label class="checkbox"><%= f.check_box :donate_artery, {}, 1, 0 %>血管</label></div>
    </div>
  </div>
  <div class="margin-bottom-20"></div>
</div>