<%= render :partial => "header", :locals => { } %>
<%= render :partial => "slider", :locals => {:btitle => @btitle, :stitle => @stitle, :search_text => @search_text} %>
<div id="theword" class="row fill-all-form">
  <div class="col-md-8 col-md-offset-2 col-xs-12 form-page tag-box-v2">
    <%= form_for(@byenote) do |f| %>
      <%= render :partial => "hospice_form", :locals => {:f => f} %>
    <% end %>
  </div>
</div>
<%= render :partial => "contactus", :locals => { } %>