<%= render :partial => "header", :locals => { } %>

<div class="container content-md">
    <div class="row">
        <div class="col-md-6">
            <object width="425" height="344"><param name="movie" value="http://swf.tubechop.com/tubechop.swf?vurl=BkxMf7OMLKw&start=6&end=134&cid=6747627"></param><embed src="http://swf.tubechop.com/tubechop.swf?vurl=BkxMf7OMLKw&start=6&end=134&cid=6747627" type="application/x-shockwave-flash" allowfullscreen="true" width="100%" height="310"></embed></object>
        </div>
        <div class="col-md-6">
            <h2 class="title-v2">什麼是安寧療護?</h2>
            <p>安寧療護，是指經醫師判定，罹患無法治癒之疾病，且病程近期內進展至死亡已不可避免之末期病人，臨終時得選擇不接受心肺復甦術(CPR)、不施行維生醫療、接受安寧緩和醫療。</p>
            <p>在台灣，超過三成民眾在臨終前被送到醫院接受按壓、急救、插管等「死亡套餐」酷刑，他們無謂的延長死亡過程。</p><br>
            <!-- <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            <a href="#" class="btn-u">View Our Work</a> -->
        </div>
    </div>
</div>

<div id="organ-donation" class="bg-grey content-lg">
    <div class="container">
        <div class="title-v1">
            <h2>為什麼要填寫安寧意願</h2>
            <!-- <h3 style="text-decoration:underline;">30秒完成、隨時修改、隨時查詢</h3> -->
        </div>
        <div class="row">
            <div class="col-md-6 content-boxes-v3 margin-bottom-20">
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-trophy"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">避免無效醫療，減少末期痛苦</h2>
                        <p>臨終前使用加護病房的人中，有52.9%的人遭遇無效醫療的折磨無法善終</p>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-directions"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">減少家屬的愧疚與自責</h2>
                        <p>要家人為自己下一個生與死的決定是困難的，易使家屬感到愧疚和自責，並引起家屬間的紛爭</p>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-diamond"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">讓家人享有充足的醫療資源</h2>
                        <p>無效醫療病人的費用佔所有加護病房的80%，每年無效醫療付出1,700億</p>
                    </div>
                </div>
                <a href="#theword" class="btn-u btn-brd btn-brd-hover btn-u-dark">寫下我的安寧意願</a>
            </div>

            <div class="col-md-6 organ-donation-form form-page">
                <%= youtube("Nk0YC_uj5W0").html_safe %>
            </div>
        </div>
    </div>
</div>

<div id="organ-donation" class="bg-grey content-lg">
    <div class="container">
        <div class="title-v1">
            <h2>如果沒有填寫安寧意願，您可能遇到的事</h2>
            <!-- <h3 style="text-decoration:underline;">30秒完成、隨時修改、隨時查詢</h3> -->
        </div>
        <div class="row">
            <div class="col-md-6 content-boxes-v3 margin-bottom-20">
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-trophy"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">痛苦的延長死亡過程</h2>
                        <ul>
                          <li>插管: 氣管、鼻胃管、尿管、胸管、靜脈導管輸液、動脈導管、肛管等和各式引流管</li>
                          <li>心臟按壓: 肋骨骨折</li>
                          <li>藥物注射: 腎衰竭、全身水腫</li>
                          <li>葉克膜: 末端肢體缺血造成壞死截肢</li>
                        </ul>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-directions"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">像屍體般的活下去</h2>
                        <p>孤獨躺在病房，被迫灌食、打針、插管、抽痰、擦屁股，依賴呼吸器活數十年，並使家人承受龐大的精神與經濟壓力</p>
                    </div>
                </div>
                <a href="#theword" class="btn-u btn-brd btn-brd-hover btn-u-dark">寫下我的安寧意願</a>
            </div>
            <div class="col-md-6 organ-donation-form form-page">
                <%= youtube("QHQXZw8kSHg").html_safe %>
            </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">已填寫安寧意願/在健保IC卡註記  還需要填寫再見手札嗎?<br>需要，因為再⾒⼿札可以</h2>
    </div>

    <div class="row content-boxes-v4">
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left fa fa-lightbulb-o"></i>
            <div class="content-boxes-in-v4">
                <h2>完整溝通</h2>
                <p>器捐意願、安寧意願、醫療訣擇、喪葬意願，再見手札讓您完整且方便的與家人溝通意願</p>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left fa fa-flash"></i>
            <div class="content-boxes-in-v4">
                <h2>快速分享</h2>
                <p>一次分享給所有親友，避免家屬意見不同造成家庭失和，且無法依照本人意願善終</p>
            </div>
        </div>
        <div class="col-md-4">
            <i class="pull-left fa fa-compress"></i>
            <div class="content-boxes-in-v4">
                <h2>方便查詢</h2>
                <p>不同於健保卡註記，再見手札讓家人隨⼿就能查詢您的意願</p>
            </div>
        </div>
    </div>
</div>

<div class="founder-talk">
    <div class="parallax-quote-in">
        <p>只要有一位家屬不願意放手，你仍將承受痛苦的無效醫療<br>向所有的親友<span class="color-green">分享您的安寧意願</span>，才能真的安寧</p>
        <small>- 再見手札創辦人 Sky -</small>
    </div>
</div>

<div id="theword" class="row fill-all-form">
  <div class="col-md-8 col-md-offset-2 col-xs-12 form-page tag-box-v2">
    <%= form_for(@byenote) do |f| %>
      <%= render :partial => "hospice_form", :locals => {:f => f} %>
      <%= f.submit "儲存我的安寧意願", :class => "btn btn-u" %>
    <% end %>
  </div>
</div>
<%= render :partial => "contactus", :locals => { } %>