<div class="wrapper">
  <%= render :partial => "slider", :locals => {:btitle => @btitle, :stitle => @stitle, :search_text => @search_text} %>

  <div class="container content-sm">
      <div class="text-center margin-bottom-50">
          <h2 class="title-v2 title-center">再見手札的特色</h2>
      </div>

      <div class="row content-boxes-v4">
          <div class="col-md-4 md-margin-bottom-40">
              <i class="pull-left fa fa-lightbulb-o"></i>
              <div class="content-boxes-in-v4">
                  <h2>完整溝通</h2>
                  <p>器捐意願、安寧意願、醫療訣擇、喪葬意願，再見手札讓您完整且方便的與家人溝通意願</p>
              </div>
          </div>
          <div class="col-md-4 md-margin-bottom-40">
              <i class="pull-left fa fa-flash"></i>
              <div class="content-boxes-in-v4">
                  <h2>快速分享</h2>
                  <p>再見手札可以快速分享您的意願給家人，輕鬆溝通這些嚴肅的議題，也希望您能分享給親朋好友，邀請大家一起加入器官捐贈的行列!</p>
              </div>
          </div>
          <div class="col-md-4">
              <i class="pull-left fa fa-compress"></i>
              <div class="content-boxes-in-v4">
                  <h2>方便查詢</h2>
                  <p>不同於健保卡註記，再見手札讓家人隨⼿就能查詢您的意願</p>
              </div>
          </div>
      </div>
  </div>

  <div class="container content-md">
    <table class="table table-hover">
      <thead>
        <tr><th colspan=3 class="text-center success"><h2>健保卡註記器捐、安寧意願 vs 再見手札</h2></th></tr>
        <tr>
          <th colspan=1 class="text-center"></th>
          <th colspan=1 class="text-center col-xs-5"><h4>健保卡註記意願</h4></th>
          <th colspan=1 class="text-center col-xs-5"><h4>再見手札</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h4>表達方式</h4></td>
          <td>
            紙本作業<br>
            1. 下載列印<a href="file:///Users/sky/Downloads/1021029_SignCard-DM%20(1).pdf">器官捐贈同意書</a><br>
            下載列印<a href="http://www.hospice.org.tw/2009/chinese/relax/relax-20130524-1.pdf">預立安寧緩和醫療暨維生醫療抉擇意願書</a><br>
            2. 填寫完畢後找見證人簽名<br>
            3. 分別寄回 器官捐贈移植登錄中心、台灣安寧照顧協會<br>
            4. 約 30 ~ 45 天，健保卡註記完成<br>
          </td>
          <td>
            <h4><u>快速</u></h4>
            點選、註冊、一分鐘完成
          </td>
        </tr>
        <tr>
          <td><h4>查詢方式</h4></td>
          <td>
            1. 到醫院查詢: 持個人或親友的健保卡至醫院讀卡機查詢意願<br>
            2. 線上查詢: 或到<a href="https://hpcod.mohw.gov.tw/HospWeb/MOPages/login.aspx">衛福部</a>網站使用健保卡、自然人憑證(需要讀卡機)查詢
          </td>
          <td>
            <h4><u>方便</u></h4>
            使用手機、電腦到 <%= link_to '再見手札查詢頁面', search_path %> <br>
            輸入Email 查詢個人或親友的意願
          </td>
        </tr>
        <tr>
          <td><h4>修改方式</h4></td>
          <td>
            修改: 重新寄出器捐同意書、安寧意願書，約 30~45天，健保卡註記更新完成<br>
            撤回: 下載列印<a href="http://www.torsc.org.tw/advocacy/advocacy_04c.jsp#">器官捐贈意願撤回聲明書</a>，填寫後寄出<br>
          </td>
          <td>
            <h4><u>簡單</u></h4>
            使用手機、電腦 <%= link_to '登入再見手札', new_user_session_path %> <br>
            修改後儲存，立即更新完成
          </td>
        </tr>
        <tr>
          <td><h4>法律效力 與 現實</h4></td>
          <td>有法律效力，但醫師以家屬意願為主<br>
            即使是預立遺囑或已於健保卡註記，一旦有家屬不同意捐贈，醫院將以家屬意願為主
          </td>
          <td>
            <h4><u>效果相同</u></h4>
            無法律效力，但醫師以家屬意願為主<br>
            <u>因此請將您的再見手札分享給家屬</u><br>
          </td>
        </tr>
        <tr><td colspan=3 class="text-center"><a href="#theword" class="btn btn-default"><h3>開始填寫「再見手札」</h3></a></td></tr>
      </tbody>
    </table>
  </div>

<div class="founder-talk">
    <div class="parallax-quote-in">
        <p>
          再見手札 與 健保卡註記，實際效益是相同的
          <strong>因為最終決定權在家屬手上</strong><br>
          <span class="color-green">因此務必將你的意願分享給家屬、親友知悉</span><br>
          再見手札為了讓您方便建立、分享、查詢意願而生
        </p>
        <small>- 再見手札創辦人 Sky -</small>
    </div>
</div>

  <div class="">
    <div class="container content-md">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title-v2">什麼是器官捐贈?</h2>
                <p>器官捐贈是當一個人的⽣命結束時，將可用的器官捐贈出來，移植給有需要的病⼈以延續他人生命，或使其獲得更好的⽣活品質。</p>
                <p>在台灣，捐贈者家屬若需要器官移植時將有優先權，因此器捐可以照顧您的家⼈</p><br>
            </div>
            <div class="col-md-6 content-boxes-v3">
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-lightbulb-o"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">使家人有器官移植優先權</h2>
                        <p>捐贈者三親等內家屬等候器官移植時將有優先權</p>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-lightbulb-o"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">翻轉20個人的命運</h2>
                        <p>如果您捐出5個器官，可以幫助5個家庭 ，大約可以改變20個人的人生</p>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-lightbulb-o"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">減少家⼈的經濟負擔</h2>
                        <p>捐贈者家屬最高可獲得超過35萬元的喪葬和醫療費⽤補助</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <legend></legend>
  <div class="container content-md bg-grey">
      <div class="row">
          <div class="col-md-6">
              <h2 class="title-v2">什麼是安寧療護?</h2>
              <p>安寧療護，是指經醫師判定，罹患無法治癒之疾病，且病程近期內進展至死亡已不可避免之末期病人，臨終時得選擇不接受心肺復甦術(CPR)、不施行維生醫療、接受安寧緩和醫療。</p>
              <p>在台灣，超過三成民眾在臨終前被送到醫院接受按壓、急救、插管等「死亡套餐」酷刑，他們無謂的延長死亡過程。</p><br>
          </div>
          <div class="col-md-6 content-boxes-v3">
              <div class="margin-bottom-30">
                  <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-lightbulb-o"></i>
                  <div class="content-boxes-in-v3">
                      <h2 class="heading-sm">讓生命末期不受醫療折磨</h2>
                      <p>臨終前使用加護病房的人中，有52.9%的人遭遇無效醫療的折磨無法善終</p>
                  </div>
              </div>
              <div class="margin-bottom-30">
                  <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-lightbulb-o"></i>
                  <div class="content-boxes-in-v3">
                      <h2 class="heading-sm">減少家屬的愧疚與自責</h2>
                      <p>要家人為自己下一個生與死的決定是困難的，易使家屬感到愧疚和自責，並引起家屬間的紛爭</p>
                  </div>
              </div>
              <div class="margin-bottom-30">
                  <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-lightbulb-o"></i>
                  <div class="content-boxes-in-v3">
                      <h2 class="heading-sm">讓家人享有充足的醫療資源</h2>
                      <p>無效醫療病人的費用佔所有加護病房的80%，每年無效醫療付出1,700億</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <legend></legend>

  <div id="theword" class="form-top-space"></div>
  <div class="row fill-all-form">
    <div class="col-md-8 col-md-offset-2 col-xs-12 byenote-title">
      <h2 class="">再見手札</h2>
    </div>
    <div class="col-md-8 col-md-offset-2 col-xs-12 form-page tag-box-v2 byenote-form-page">

      <%= form_for(@byenote) do |f| %>
        <%= render :partial => "organ_form", :locals => {:f => f} %>
        <%= render :partial => "hospice_form", :locals => {:f => f} %>
        <%= render :partial => "funeral_form", :locals => {:f => f} %>

        <div class="row">
          <div class="heading"><h3 style="text-align:center;"><legend>給親友的話</legend></h3></div>
          <%= f.text_area :some_message, rows: 4, :class => "message_textarea", :placeholder => "告訴親友你寫下器官捐贈、安寧及喪葬意願的原因 (注意: 此項目開放不特定人查詢及閱覽，請避免個人隱私資訊)" %>
          <p>注意: 此項目開放不特定人查詢及閱覽，請避免個人隱私資訊</p>
        <div class="margin-bottom-20"></div>
          <p>*為便於查詢，以上資料皆開放任何人查詢及閱覽，請避免個人隱私資訊</p>
          <%= f.submit "儲存我的再見手札",:style => "width:100%;padding:10px;", :class => "btn btn-u" %>
        </div>
      <% end %>
    </div>
  </div>

<div class="founder-talk">
    <div class="parallax-quote-in">
        <p>如果我們出了意外，因為再見手札能讓自己、家人、他人更舒服些<br><span class="color-green">那就是我想做的事</span></p>
        <small>- 再見手札創辦人 Sky -</small>
    </div>
</div>

  <%= render :partial => "contactus", :locals => { } %>
</div>


