<div class="container content-md">
    <div class="row">
        <div class="col-md-6">
            <%= youtube("dLkuiQhfU18").html_safe %>
        </div>
        <div class="col-md-6">
            <h2 class="title-v2">什麼是器官捐贈?</h2>
            <p>器官捐贈是當一個人的⽣命結束時，將可用的器官捐贈出來，移植給有需要的病⼈以延續他人生命，或使其獲得更好的⽣活品質。</p>
            <p>在台灣，捐贈者家屬若需要器官移植時將有優先權，因此器捐可以照顧您的家⼈</p><br>
            <!-- <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
            <a href="#" class="btn-u">View Our Work</a> -->
        </div>
    </div>
</div>

<div id="organ-donation" class="bg-grey content-lg">
    <div class="container">
        <div class="title-v1">
            <h2>為什麼要填寫器捐意願</h2>
            <!-- <h3 style="text-decoration:underline;">30秒完成、隨時修改、隨時查詢</h3> -->
        </div>
        <div class="row">
            <div class="col-md-6 content-boxes-v3 margin-bottom-20">
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-trophy"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">給家人永遠的照顧</h2>
                        <p>捐贈者三親等內家屬等候器官移植時將有優先權</p>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-directions"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">幫助他人獲得重⽣</h2>
                        <p>如果您捐出5個器官,可以幫助5個家庭 ，大約可以改變20個人的人生</p>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-diamond"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">減少家⼈的經濟負擔</h2>
                        <p>捐贈者家屬最高可獲得超過35萬元 喪葬和醫療費⽤用補助</p>
                    </div>
                </div>
                <a href="#theword" class="btn-u btn-brd btn-brd-hover btn-u-dark">寫下我的器捐意願</a>
                <!-- <a href="#" class="btn-u">View Our Work</a> -->
            </div>

            <div class="col-md-6 organ-donation-form form-page">
                <%= youtube("srgI9WkSH8c").html_safe %>
            </div>
        </div>
    </div>
</div>

<div id="organ-donation" class="bg-grey content-lg">
    <div class="container">
        <div class="title-v1">
            <h2>如果沒有更多⼈願意器捐</h2>
        </div>
        <div class="row">
            <div class="col-md-6 content-boxes-v3 margin-bottom-20">
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-trophy"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">您將因等不到器官移植⽽死亡</h2>
                        <p>每⼗位等待器官的病患,有七位因等不到適合的器官而死亡</p>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-directions"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">您得忍受長期的醫療折磨</h2>
                        <p>以腎臟而言,平均要等待近四年,肝臟則需要等待超過七年。這段時間,病患⽣活品質差、經濟壓⼒大</p>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-diamond"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">健保會更快破產</h2>
                        <p>台灣約7萬的洗腎⼈口,年花健保371億,慢性腎衰竭為⾨診醫療費用第一名</p>
                    </div>
                </div>
                <a href="#theword" class="btn-u btn-brd btn-brd-hover btn-u-dark">寫下我的器捐意願</a>
            </div>
            <div class="col-md-6 organ-donation-form form-page">
                <%= youtube("hztCYj-JrpI").html_safe %>
            </div>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">已有器官捐贈卡/健保IC卡註記  還需要填寫再⾒⼿札嗎?<br>需要~! 因為再見手札可以...</h2>
    </div>

    <div class="row content-boxes-v4">
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left fa fa-lightbulb-o"></i>
            <div class="content-boxes-in-v4">
                <h2>完整溝通</h2>
                <p>器捐意願、安寧意願、醫療訣擇、喪葬意願，再見手札讓您完整且方便的與家人溝通意願</p>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left fa fa-flash"></i>
            <div class="content-boxes-in-v4">
                <h2>快速分享</h2>
                <p>再見手札可以快速分享您的意願，並與家人溝通。當大家都願意器捐，我們才有獲得捐贈的機會</p>
            </div>
        </div>
        <div class="col-md-4">
            <i class="pull-left fa fa-compress"></i>
            <div class="content-boxes-in-v4">
                <h2>方便查詢</h2>
                <p>不同於健保卡註記，再見手札讓家人隨⼿就能查詢您的意願</p>
            </div>
        </div>
    </div>
</div>

<div class="founder-talk">
    <div class="parallax-quote-in">
        <p>如果你希望有一天，病床上的自己可以獲得別人的器官而重生<br><span class="color-green">那就把你的器捐意願分享出去</span></p>
        <small>- 再見手札創辦人 Sky -</small>
    </div>
</div>

<div id="theword" class="row fill-all-form">
    <div class="col-md-8 col-md-offset-2 col-xs-12 form-page tag-box-v2 byenote-form-page">
      <%= form_for(@byenote) do |f| %>
        <%= render :partial => "organ_form", :locals => {:f => f} %>
        <div class="margin-bottom-20"></div>
        <div class="row">
          <div class="col-xs-12">
            <%= f.submit "儲存我的器捐意願", :class => "btn btn-u" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
<div class="container content-md">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <div class="title-v1"><h2>常見問題</h2></div>
                <%= faq().html_safe %>
        </div>
    </div>
</div>


<%= render :partial => "contactus", :locals => { } %>
