<!DOCTYPE html>
<html>
<head>
  <title>TheWord 再見手札</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="header-fixed">
<%= render :partial => "welcome/header", :locals => { } %>
<%= yield %>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>

</body>
</html>
